
<html>
<head>
    {% load static %}
	<link rel="shortcut icon" type="png" href="{% static 'web/images/website-logo1.png' %}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">
	<title>REEMUSS</title>
	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">
	<script type="text/javascript" src="{% static 'web/script.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script>
		$(window).on('scroll', function(){
  			if($(window).scrollTop()){
  			  $('nav').addClass('black');
 			 }else {
 		   $('nav').removeClass('black');
 		 }
		})
	</script>
</head>
<body>
<left style="font-size: 25px; padding: 100px"><img src="{% static 'web/images/website-logo1.png' %}" width="30" height="30"> REEMUSS</left>
<!-- Navigation Bar -->
	<header id="header">
		<nav>
			<ul>
				<li><a  href="">Home</a></li>
				<li><a href="#about_section">About</a></li>
				<li><a href="#portfolio_section">Portfolio</a></li>
				<li><a href="#team_section">Instructor</a></li>
				<li><a href="#services_section">Courses</a></li>
				<li><a href="#contactus_section">Contact</a></li>
				<li><a ></a><img src="{% static 'web/images/user.png' %}" width="15" height="15">     {{ member.firstname}}
    {{ member.lastname}}</li>
			</ul>
		</nav>
		<div class="head-container">
			<div class="quote">
			</div>
			<right><p style="font-size: 70px; padding: 10px">Welcome to REEMUSS</p></right>
				<div class="side-text">
					<p>Education is a act or process of imparting or acquiring general knowledge, developing the powers of reasoning and judgment, and generally of preparing oneself or others intellectually for mature life.</p>
		</div>
		
		</div>
	</header>



	
<!-- ABOUT -->
	<div class="diffSection" id="about_section">
		<center><p style="font-size: 50px; padding: 100px">About</p></center>
				<div class="side-text">
					<center><h2>What you think about us ?</h2></center>
					<p>
					
					We provide programming courses to students
					
					</p>
				</div>
		</div>
	</div>


<!-- PORTFOLIO -->
	<div class="diffSection" id="portfolio_section">
		<center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">Portfolio</p></center>
		<div class="content">
			<p>
			</p>
		</div>
	</div>
	<div class="extra">
		<p></p>
		<div class="smbox">
		<span><center><div class="data">0</div><div class="det">Enrolled Students</div></center></span>
		<span><center><div class="data">3</div><div class="det">Total Courses</div></center></span>
		<span><center><div class="data">0</div><div class="det">Placed Students</div></center></span>
		</div>
	</div>


<!-- TEAM -->
	<div class="diffSection" id="team_section">
		<center><p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">INSTRUCTOR</p></center>
		<div class="totalcard">
			<div class="card">
				<center><img src="{% static 'web/images/user3.png' %}" width="30" height="30"></center>
				<center><div class="card-title">Sumeer</div>
				<div id="detail">
					<p>"Specialised in IOT"</p>
					<div class="duty"></div>
					<a href="https://www.linkedin.com/in/sumeer-s/" target="_blank"><button class="btn-social">Follow +</button></a>
			</div>
				</center>
			</div>
		</div>
	</div>


<!-- SERVICES -->
	<div class="service-swipe">
		<div class="diffSection" id="services_section">
		<center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px; color: #fff;">COURSES</p></center>
		</div>
		<a href="subjects/computer_courses.html"><div class="s-card"><img src="{% static 'web/images/python.png' %}" width="40" height="40"><p>Python Course</p></div></a>
		<a href="subjects/jee.html"><div class="s-card"><img src="{% static 'web/images/c.png' %}" width="40" height="40"><p>C Programming Course</p></div></a>
		<a href="subjects/jee.html#sample_papers"><div class="s-card"><img src="{% static 'web/images/fdc.png' %}" width="40" height="40"><p>Frontend development course</p></div></a>
		
	</div>



<!-- CONTACT US -->
	<div class="diffSection" id="contactus_section">
		<center><p style="font-size: 50px; padding: 100px">Contact Us</p></center>
		<div class="csec"></div>
		<div class="back-contact">
			<div class="cc">
			<form action="mailto:sumeers247+reemuss@gmail.com" method="post" enctype="text/plain">
				<label>First Name <span class="imp">*</span></label><label style="margin-left: 185px">Last Name <span class="imp">*</span></label><br>
				
				<input type="text" name="" style="margin-right: 10px; width: 175px" required="required"><input type="text" name="lname" style="width: 175px" required="required"><br>
				
				<label>Email <span class="imp">*</span></label><br>
				<input type="email" name="mail" style="width: 100%" required="required"><br>
				<label>Message <span class="imp">*</span></label><br>
				<input type="text" name="message" style="width: 100%" required="required"><br>
				<label>Additional Details</label><br>
				<textarea name="addtional"></textarea><br>
				<button type="submit" id="csubmit">Send Message</button>
			</form>
			</div>
		</div>
	</div>







<!-- FOOTER -->
	<footer>
				{% load static %}
				<p class="rights-text">Created By Sumeer S</p>
				<p><img src="{% static 'web/images/mobile.png' %}" width="15" height="15"> +91-9790736990<br><img src="{% static 'web/images/gmail.png' %}" width="15" height="15">&nbsp; sumeers247+reemuss@gmail.com</p>
			</div>
		</div>
	</footer>

</body>
</html>

