<html>
<head>
 {% load static %}
	<link rel="shortcut icon" type="png" href="{% static 'web/images/logo.jpeg' %}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">
	<title>INDIAN RAILWAY SYSTEM</title>
	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">
	
  <style>
  * {box-sizing: border-box;}
html {
  height: 100% 100%;
  width: 100% 100%;
  
}
ul, #myUL {
  list-style-type: none;
}
dt {
  display: block;
  font-size:50px;
  color:orange;
}

a {
 
  font-size:40px;
  color:violet;
}
#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 1px;
  font-size: 1px;

      opacity: 100;
   
  border: 2px solid transparent;
}

.dropbtn a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn a:hover {background-color: black;}

.dropdown {
    background-color: transparent;
    color: white;
  position: relative;
  display: inline-block;
        opacity: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

body {
  background-image: url("{% static 'web/images/railway.jpg' %}");
  background-repeat: no-repeat;
   background-position: center center;
     background-size: 100% 100%;
}

header{
height: 100% 100%;
  width: 100% 100%;
background-colour: transparent;
}





table, th, td {
  border:1px solid black;
  border-style: none;
}
</style>
	
  
<script type="text/javascript" src="{% static 'web/script.js' %}""></script>
	
	<script>
		$(window).on('scroll', function(){
  			if($(window).scrollTop()){
  			  $('nav').addClass('black');
 			 }else {
 		   $('nav').removeClass('black');
 		 }
		})
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

	  
 

<header>
 <left style="font-size: 50px; color:brown;padding: 100px"><img src="{% static 'web/images/logo2.png' %}" width="50" height="50"> INDIAN RAILWAY SYSTEM</left>
     <br>
    
<div class="dropdown">
  <button class="dropbtn "><a href="">Zonal Railways</a></button>
  <div class="dropdown-content">
    <a href="http://www.cr.indianrailways.gov.in/">Central Railway</a>
    <a href="http://www.ecr.indianrailways.gov.in/">East Central Railway</a>
    <a href="http://www.eastcoastrail.indianrailways.gov.in/">East Coast Railway</a>
    <a href="http://www.er.indianrailways.gov.in/">Eastern Railway</a>
    
    <a href="http://www.mtp.indianrailways.gov.in/">Metro Railway Kolkata</a>
    <a href="http://www.ncr.indianrailways.gov.in/">North Central Railway</a>
    <a href="http://www.ner.indianrailways.gov.in/">North Eastern Railway</a>
    <a href="http://www.nwr.indianrailways.gov.in/">North Western Railway</a>
    <a href="http://www.nfr.indianrailways.gov.in/">North East Frontier Railway</a>
    <a href="http://www.nr.indianrailways.gov.in/">Northern Railway</a>
    <a href="http://www.scr.indianrailways.gov.in/" >South Central Railway</a>
    <a href="http://www.secr.indianrailways.gov.in/">South East Central Railway</a>
    <a href="http://www.ser.indianrailways.gov.in/" >South Eastern Railway</a>
    <a href="http://www.swr.indianrailways.gov.in/" >South Western Railway</a>
    <a href="http://www.sr.indianrailways.gov.in/"> Southern Railway</a>
    <a href="http://www.wcr.indianrailways.gov.in/">West Central Railway</a>
    <a href="http://www.wr.indianrailways.gov.in/">Western Railway</a>
      </div>
</div>

<div class="dropdown">
<button class="dropbtn "><a href="">Passenger Services</a></button>
  <div class="dropdown-content">
    
  <a href="http://www.irctc.co.in/">E-Ticketing</a>
    <a href="http://www.indianrail.gov.in/pnr_Enq.html" >PNR Status</a>
    <a href="http://www.trainenquiry.com/" >Train Arrival/Departure</a>
     <a href="http://www.ecatering.irctc.co.in/eCatering/" >E-Catering</a>
      <a href="http://www.irctctourism.com/cgi-bin/rr.dll/irctc/services/rrhome.do/" >Retiring Room</a>
  </div>
</div>
<div class="dropdown">
<button class="dropbtn "><a href="">Parcel Services</a></button>
  <div class="dropdown-content">
    <a href="http://www.indianrailways.gov.in/fois/pms/layout/parcel_rules.seam">Parcel Rules</a>
    <a href="http://www.indianrailways.gov.in/fois/pms/layout/parcel_freight_calculator.seam">Parcel Charges Calculator</a>
  <a href="http://www.indianrailways.gov.in/railwayboard/view_section.jsp?lang=0&id=0,6,335">Parcel Rates</a>
  <a href="http://www.indianrailways.gov.in/fois/pms/layout/wharfage_table.seam">Wharfage Table</a>
  <a href="http://www.indianrailways.gov.in/fois/pms/layout/forwarding_note.seam">Download Forwarding Note</a>
  <a href="http://www.indianrailways.gov.in/fois/pms/layout/cabin_layout.seam">Cabin Layout</a>
  
  </div>
</div>
<div class="dropdown">
<button class="dropbtn "><a href="">Freight Services</a></button>
  <div class="dropdown-content">
      <a href="http://www.indianrailways.gov.in/fois/fois/layout/station_search.seam">Stations/Siding Profile</a>
    <a href="http://www.indianrailways.gov.in/fois/fois/layout/two_point_rakes.seam">Two Point Rakes</a>
    <a href="http://www.indianrailways.gov.in/fois/fois/layout/track_trace_fnr.seam">Track and Trace(FNR Enquiry)</a>
    <a href="http://www.indianrailways.gov.in/fois/fois/layout/steel_rack_stations.seam">Steel Rake Stations</a>
  </div>
</div>
<div class="dropdown">
<button class="dropbtn "><a href="">Manufacturing Unit</a></button>
  <div class="dropdown-content">
  <a href="http://www.clw.indianrailways.gov.in/">CLW Chitranjan</a>
<a href="http://www.core.indianrailways.gov.in/">CORE Allahabad</a>
<a href="http://www.dlw.indianrailways.gov.in/">DLW Varanasi</a>
<a href="http://www.dmw.indianrailways.gov.in/">DMW Patiala</a>
<a href="http://www.icf.indianrailways.gov.in/">ICF Chennai</a>
<a href="http://www.mrvc.indianrailways.gov.in/">MRVC Mumbai</a>
<a href="http://www.rcf.indianrailways.gov.in/">RCF Kapurthala</a>
<a href="http://www.rwf.indianrailways.gov.in/">RWF Bangalore</a>
<a href="http://www.rcfrbl.indianrailways.gov.in/">RCF Raebareli</a>
   
  </div>
</div>
<div class="dropdown">
<button class="dropbtn "><a href="">Education & Research</a></button>
  <div class="dropdown-content">
  <a href="http://www.iricen.indianrailways.gov.in/">IRICEN Pune</a>
<a href="http://www.irieen.indianrailways.gov.in/">IRIEEN Nasik</a>
<a href="http://www.irimee.indianrailways.gov.in/">IRIMEE Jamalpur</a>
<a href="http://www.iriset.indianrailways.gov.in/">IRISET Secunderabad</a>
<a href="http://www.iritm.indianrailways.gov.in/">IRITM Lucknow</a>
<a href="http://www.rdso.indianrailways.gov.in/">RDSO Lucknow</a>
<a href="http://www.rscbrc.indianrailways.gov.in/">NAIR Vadodara</a>
 
  </div>
</div>

<div class="dropdown">
<button class="dropbtn "><a href="">Heritage</a></button>
  <div class="dropdown-content">
  
   <a href="http://dhr.indianrailways.gov.in/">DHR</a>
<a href="http://www.nrm.indianrailways.gov.in/">National Rail Museum</a>
  </div>
</div>

<div class="dropdown">
<button class="dropbtn "><a href="">Recruitment</a></button>
  <div class="dropdown-content">
   <a href="http://www.indianrailways.gov.in/railwayboard/view_section.jsp?lang=0&id=0,7,1281">Recruitment</a>
  </div>
</div>

<div class="dropdown">
<button class="dropbtn "><a href="">Others</a></button>
  <div class="dropdown-content">
  <a href="http://www.trainenquiry.com/o/TrainScheduleByName.aspx">Train Time Table</a>
<a href="http://www.indianrailways.gov.in/tenders.html">View Tenders</a>
<a href="http://customercare.indianrailways.gov.in/">Submit</a>
<a href="http://www.indianrail.gov.in/sms_Service.html">SMS</a>
<a href="http://www.indianrailways.gov.in/images/footerlogo.gif">India.govern.in</a>
<a href="http://www.indianrail.gov.in/disclaimer.html">Disclaimer</a>
      </div>
</div>




</centre>
</header>

<table style="width:100%">
  <tr>
    <th>
    <dl>
  <dt>Zonal Railways</dt>
  <dd>
    
    <a href="http://www.cr.indianrailways.gov.in/">Central Railway</a></centre><br>
<a href="http://www.ecr.indianrailways.gov.in/">East Central Railway</a><br>
<a href="http://www.eastcoastrail.indianrailways.gov.in/">East Coast Railway</a><br>
<a href="http://www.er.indianrailways.gov.in/">Eastern Railway</a><br>
<a href="http://www.mtp.indianrailways.gov.in/">Metro Railway Kolkata</a><br>
<a href="http://www.ncr.indianrailways.gov.in/">North Central Railway</a><br>
<a href="http://www.ner.indianrailways.gov.in/">North Eastern Railway</a><br>
<a href="http://www.nwr.indianrailways.gov.in/">North Western Railway</a><br>
<a href="http://www.nfr.indianrailways.gov.in/">North East Frontier Railway</a><br>
<a href="http://www.nr.indianrailways.gov.in/">Northern Railway</a><br>
<a href="http://www.scr.indianrailways.gov.in/">South Central Railway</a><br>
<a href="http://www.secr.indianrailways.gov.in/">South East Central Railway</a><br>
<a href="http://www.ser.indianrailways.gov.in/">South Eastern Railway</a><br>
<a href="http://www.swr.indianrailways.gov.in/">South Western Railway</a><br>
<a href="http://www.sr.indianrailways.gov.in/">Southern Railway</a><br>
<a href="http://www.wcr.indianrailways.gov.in/">West Central Railway</a><br>
<a href="http://www.wr.indianrailways.gov.in/">Western Railway</a><br>

</dd>

<dt>Passenger Services</dt>
  <dd>
<a href="http://www.irctc.co.in/">E-Ticketing</a><br>
<a href="http://www.indianrail.gov.in/pnr_Enq.html">PNR Status</a><br>
<a href="http://www.trainenquiry.com/o/indexNS.aspx">Train Arrival/Departure</a>
</dd>

<dt>Parcel Freight Services</dt>
  <dd>
<a href="http://www.indianrailways.gov.in/fois/pms/layout/parcel_rules.seam">Parcel Rules</a><br>
<a href="http://www.indianrailways.gov.in/fois/pms/layout/parcel_freight_calculator.seam">Parcel Charges Calculator</a><br>
<a href="http://www.indianrailways.gov.in/railwayboard/view_section.jsp?lang=0&id=0,6,335">Parcel Rates</a><br>
<a href="http://www.indianrailways.gov.in/fois/pms/layout/wharfage_table.seam">Wharfage Table</a><br>
<a href="http://www.indianrailways.gov.in/fois/pms/layout/forwarding_note.seam">Download Forwarding Note</a><br>
<a href="http://www.indianrailways.gov.in/fois/pms/layout/cabin_layout.seam">Cabin Layout</a><br>
<a href="http://www.indianrailways.gov.in/fois/fois/layout/station_search.seam">Stations/Siding Profile</a><br>
<a href="http://www.indianrailways.gov.in/fois/fois/layout/two_point_rakes.seam">Two Point Rakes</a><br>
<a href="http://www.indianrailways.gov.in/fois/fois/layout/track_trace_fnr.seam">Track and Trace(FNR Enquiry)</a><br>
<a href="http://www.indianrailways.gov.in/fois/fois/layout/steel_rack_stations.seam">Steel Rake Stations</a>
</dd>
<dl>
</th>
<th>
<dl>
  <dt>Manufacturing Unit</dt>
  <dd>
<a href="http://www.clw.indianrailways.gov.in/">CLW Chitranjan</a><br>
<a href="http://www.core.indianrailways.gov.in/">CORE Allahabad</a><br>
<a href="http://www.dlw.indianrailways.gov.in/">DLW Varanasi</a><br>
<a href="http://www.dmw.indianrailways.gov.in/">DMW Patiala</a>
<a href="http://www.icf.indianrailways.gov.in/">ICF Chennai</a><br>
<a href="http://www.mrvc.indianrailways.gov.in/">MRVC Mumbai</a><br>
<a href="http://www.rcf.indianrailways.gov.in/">RCF Kapurthala</a><br>
<a href="http://www.rwf.indianrailways.gov.in/">RWF Bangalore</a><br>
<a href="http://www.rcfrbl.indianrailways.gov.in/">RCF Raebareli</a>
</dd>
<dt>Education & Research</dt>
  <dd>
<a href="http://www.iricen.indianrailways.gov.in/">IRICEN Pune</a><br>
<a href="http://www.irieen.indianrailways.gov.in/">IRIEEN Nasik</a><br>
<a href="http://www.irimee.indianrailways.gov.in/">IRIMEE Jamalpur</a><br>
<a href="http://www.iriset.indianrailways.gov.in/">IRISET Secunderabad</a><br>
<a href="http://www.iritm.indianrailways.gov.in/">IRITM Lucknow</a><br>
<a href="http://www.rdso.indianrailways.gov.in/">RDSO Lucknow</a><br>
<a href="http://www.rscbrc.indianrailways.gov.in/">NAIR Vadodara</a>
</dd>
<dt>Heritage</dt>
  <dd>
<a href="http://dhr.indianrailways.gov.in/">DHR</a><br>
<a href="http://www.nrm.indianrailways.gov.in/">National Rail Museum</a>
</dd>
<dt>Recruitment</dt>
  <dd>
<a href="http://www.indianrailways.gov.in/railwayboard/view_section.jsp?lang=0&id=0,7,1281">Recruitment</a>
</dd>
<dt>Other</dt>
  <dd>
<a href="http://www.trainenquiry.com/o/TrainScheduleByName.aspx">Train Time Table</a><br>
<a href="http://www.indianrailways.gov.in/tenders.html">View Tenders</a><br>
<a href="http://customercare.indianrailways.gov.in/">Submit</a><br>
<a href="http://www.indianrail.gov.in/sms_Service.html">SMS</a><br>
<a href="http://www.indianrailways.gov.in/images/footerlogo.gif">India.govern.in</a><br>
<a href="http://www.indianrail.gov.in/disclaimer.html">Disclaimer</a>
</dd>
</dl>
</th>
    
  </tr>
</table>

	  
	  
<footer>
				{% load static %}
				
				<p style="font-size: 50px; color:white;padding: 50px"><img src="{% static 'web/images/mobile.png' %}" width="30" height="30"> +91-0000000000<br><img src="{% static 'web/images/gmail.png' %}" width="30" height="30">&nbsp; site@irs.gov.in</p><br>
				
			</div>
		</div>
	</footer>
	  
	  
	  
	  
	  
	  
	  
	</div>	
	</div>

</body>
</html>
